&#userDashboard {
  padding: 20px;
  display: grid;
  grid-template://
    "profile       searchNewPrem" //
    "premUsers     premUsers";
  .profile {
    grid-area: profile;
    .iconBox {
      width: 50px;
      height: 50px;
      background-color: #ccc;
      border-radius: 50px;
    }
  }
  .searchNewPrem {
    grid-area: searchNewPrem;
  }
  .premUsers {
    grid-area: premUsers;
  }
}
