// /* Color Theme Swatches in RGBA */
// .BTS-concept-with-headphones-and-music-discs-on-a-yellow-background.-1-rgba { color: rgba(204, 112, 216, 1); }
// .BTS-concept-with-headphones-and-music-discs-on-a-yellow-background.-2-rgba { color: rgba(242, 199, 72, 1); }
// .BTS-concept-with-headphones-and-music-discs-on-a-yellow-background.-3-rgba { color: rgba(242, 180, 65, 1); }
// .BTS-concept-with-headphones-and-music-discs-on-a-yellow-background.-4-rgba { color: rgba(63, 31, 3, 1); }
// .BTS-concept-with-headphones-and-music-discs-on-a-yellow-background.-5-rgba { color: rgba(216, 163, 132, 1); }

// /* Color Theme Swatches in HSLA */
// .BTS-concept-with-headphones-and-music-discs-on-a-yellow-background.-1-hsla { color: hsla(292, 57, 64, 1); }
// .BTS-concept-with-headphones-and-music-discs-on-a-yellow-background.-2-hsla { color: hsla(45, 86, 61, 1); }
// .BTS-concept-with-headphones-and-music-discs-on-a-yellow-background.-3-hsla { color: hsla(39, 87, 60, 1); }
// .BTS-concept-with-headphones-and-music-discs-on-a-yellow-background.-4-hsla { color: hsla(28, 88, 13, 1); }
// .BTS-concept-with-headphones-and-music-discs-on-a-yellow-background.-5-hsla { color: hsla(22, 52, 68, 1); }
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@import "colors";
body {
  font-family: source-han-sans-japanese, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  ul {
    padding: 0;
  }
  a {
    text-decoration: none;
    color: initial;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  p {
    font-size: 1em;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    h1 {
      cursor: pointer;
      margin: 0;
      font-size: 18px;
      margin-right: 40px;
    }
    display: flex;
    align-items: center;

    nav {
      position: relative;
      display: flex;
      gap: 10px;
    }
    padding: 10px;
    background-color: $cyellow;
    .topLoginButton {
      margin-left: auto;
    }
    button {
      all: unset;
      position: relative;
      cursor: pointer;
      margin-left: auto;
    }
    .userMenu {
      position: absolute;
      right: 10px;
      top: 10px;
      background-color: rgba(255, 255, 255, 0.849);
      padding: 5px;
      border-radius: 5px;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
      display: flex;
      flex-direction: column;
      li {
        list-style: none;
      }
    }
  }
  main {
    &#home {
      section {
        padding: 20px;
        &#top {
          flex-direction: column;
          display: flex;
          align-items: center;
          .titleZone {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;
          }
          h1 {
            margin: 10px;
            font-size: 36px;
          }
          p {
            font-size: 16px;
          }
        }

        &#whosInAirplane {
          .slider {
            display: flex;
            overflow-x: hidden;
            .slide {
              min-width: 200px;
            }
          }
        }
        &#quickStart {
          .selection {
            padding: 10px;
            display: flex;
            justify-content: space-around;
            gap: 20px;
            @media only screen and (max-width: 480px) {
              flex-direction: column;
            }
            .way {
              flex: 1;
              border: 1px solid #ccc;
              padding: 20px;
              border-radius: 10px;
              h3 {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
              }
              p {
                font-size: 14px;
              }
              .contextZone {
                display: flex;
                flex-direction: column;
              }
            }
          }
        }
      }
    }
    &#premium {
      section {
        padding: 20px;
        &#aboutAirplane {
        }
        &#useCase {
          .cases {
            .case {
            }
          }
        }
        &#features {
          .featureList {
            display: flex;
            flex-wrap: wrap;
            padding: 0;
            gap: 20px;
            li {
              @media only screen and (max-width: 480px) {
                min-width: 90%;
              }
              flex: 1;
              min-width: 30%;
              list-style: none;
            }
          }
        }
        &#services {
          display: flex;
          flex-direction: column;
          .course {
          }
        }
      }
    }
    &#signin {
      ol.steps {
        padding: 0;
        position: relative;
        &::after {
          z-index: -1;
          position: absolute;
          width: 100%;
          top: 50%;
          height: 1px;
          background-color: #ccc;
          content: "";
        }
        width: 100%;
        justify-content: space-between;
        display: flex;
        gap: 20px;
        li {
          padding: 0 10px;
          list-style-type: none;
          background-color: white;
          &[data-activated="true"] {
            color: rgba(0, 0, 0, 1);
          }
          font-weight: 500;
          color: rgba(0, 0, 0, 0.2);
        }
      }
      .stepMask {
        overflow: hidden;
        .stepContents {
          transition: left 300ms ease-out;
          position: relative;
          display: flex;
          section.singleStep {
            p.textContent {
              height: 100px;
              border: 1px solid #ccc;
              padding: 10px;
              font-size: 13px;
              font-weight: 300;
            }
            animation: fadein 500ms ease-in;
            &[data-disabled="true"] {
              display: none;
            }
            &[data-disabled="false"] {
              display: flex;
            }
            box-sizing: border-box;
            flex-direction: column;
            flex: 1;
            min-width: 100vw;
            padding: 20px;
            .buttons {
              display: flex;
              justify-content: space-around;
            }
            &[data-step="0"] {
              textarea {
                resize: none;
                padding: 5px;
              }
            }
            &[data-step="1"] {
              .basicForm {
                padding: 20px 0;
                display: flex;
                flex-direction: column;
                gap: 30px;
              }
            }
          }
        }
      }
    }
    &#login {
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  footer {
    border-top: 1px solid #ccc;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    * {
      color: $cdark;
    }
    nav {
      display: flex;
      gap: 10px;
      a {
        font-weight: 300;
        font-size: 13px;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
