&#userDashboard {
  display: flex;
  height: 100%;
  float: 1;
  .leftBar {
    padding: 20px;
    width: 120px;
    background-color: $cyellow;
    .profile {
      .iconBox {
        width: 60px;
        height: 60px;
        background-color: #ccc;
        border-radius: 100%;
      }
    }
    .userMenu {
      .menuItem {
        filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3));
        cursor: pointer;
        &:hover {
          color: white;
        }
      }
    }
  }
}
