&#userDashboard {
  display: flex;
  height: 100%;
  float: 1;
  .leftBar {
    padding: 20px;
    width: 100px;
    background-color: $cyellow;
    .profile {
      .iconBox {
        width: 60px;
        height: 60px;
        background-color: #ccc;
        border-radius: 100%;
      }
    }
    .userMenu {
      a {
        text-decoration: none;
      }
      .menuItem {
        filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));
        cursor: pointer;
        &:hover {
          color: white;
        }
      }
    }
  }
  .contextBody {
    display: flex;
    flex: 1;
  }
}
